h1 {
    color: blue;
    font-size: 400%;
    text-align: center;
    border: 5px solid greenyellow;
    background-color: aquamarine;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

body {
    background-color: aqua;
}

img {
    width: 300px;
    height: 400px;
    border: 8px solid red;
    cursor: progress;
   /* cursor: pointer;*/
}

p {
    text-align: center;
    color: blueviolet;
    font-size: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}